PORT=
USE_ERROR_STACK=<boolean>

#MONGODB_URI=mongodb://root:example@mongo:27017/
DATABASE=

SALT_ROUNDS=
PEPPER=

TOKEN_SECRET=
TOKEN_DURATION=20   # in minutes

CORS_FRONTEND="http://localhost:3000" # server ip/dns here
CORS_CREDENTIALS=true
COOKIE_SAMESITE=Lax Strict