PORT=
USE_ERROR_STACK=<boolean>

MONGODB_URI=
DATABASE=

SALT_ROUNDS=
PEPPER=

TOKEN_SECRET=
TOKEN_DURATION=20   # in minutes

CORS_FRONTEND="http://localhost:3000"
CORS_CREDENTIALS=true
FETCH_CREDENTIALS=include same-site
COOKIE_SAMESITE=Lax Strict