.imgC{
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 200px;
    position: absolute;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 5%;
}
.container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 335px;
    height: 200px;
    position: absolute;
    right: 40%;
    margin-top: 1%;
    /* margin-left: 40%; */
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateZ(-10deg);
    animation: ror 10s linear infinite;
}
@keyframes ror{
    0%{
        transform: rotateX(-8deg) scale(0.65, 0.65);
    }
    25%{
        transform: rotateX(-9deg) scale(0.65, 0.65);
   }
   50%{
        transform: rotateX(-10deg) scale(0.65, 0.65);
   }
   75%{
        transform: rotateX(-9deg) scale(0.65, 0.65);
   }
   100%{
        transform: rotateX(-8deg) scale(0.65, 0.65);
   }
}
.images{
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
}
@keyframes rotate{
    from{

    }
    to{
        transform: rotateY(360deg);
    }
}
.imgC:nth-child(1){
    transform: rotateY(60deg) translateZ(300px);
}
.imgC:nth-child(2){
    transform: rotateY(120deg) translateZ(300px);
}
.imgC:nth-child(3){
    transform: rotateY(180deg) translateZ(300px);
}
.imgC:nth-child(4){
    transform: rotateY(240deg) translateZ(300px);
}
.imgC:nth-child(5){
    transform: rotateY(300deg) translateZ(300px);
}
.imgC:nth-child(6){
    transform: rotateY(360deg) translateZ(300px);
}
.imgC:hover{
    width: 340px;
    height: 220px;
    cursor: pointer;
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    .container{
        right: 0.01%;
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 401px) and (max-width: 500px) {
    .container{
        right: 8%;
    }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
    .container{
        right: 15%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 700px) {
    .container{
        right: 22%;
    }
}
@media only screen and (min-width: 701px) and (max-width: 800px) {
    .container{
        right: 27%;
    }
}
@media only screen and (min-width: 801px) and (max-width: 900px) {
    .container{
        right: 28%;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1000px) {
    .container{
        right: 32%;
    }
}
@media only screen and (min-width: 1001px) and (max-width: 1100px) {
    .container{
        right: 34%;
    }
}
@media only screen and (min-width: 1101px) and (max-width: 1369) {
    .container{
        right: 42%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    @keyframes ror{
        0%{
            transform: rotateX(-0.5deg) scale(0.3, 0.3);
        }
        25%{
            transform: rotateX(-1deg) scale(0.3, 0.3);
       }
       50%{
            transform: rotateX(-1.5deg) scale(0.3, 0.3);
       }
       75%{
            transform: rotateX(-1deg) scale(0.3, 0.3);
       }
       100%{
            transform: rotateX(-0.5deg) scale(0.3, 0.3);
       }
    }

}
@media only screen and (min-width: 601px) and (max-width: 700px) {
    @keyframes ror{
        0%{
            transform: rotateX(-0.5deg) scale(0.4, 0.4);
        }
        25%{
            transform: rotateX(-1deg) scale(0.4, 0.4);
       }
       50%{
            transform: rotateX(-1.5deg) scale(0.4, 0.4);
       }
       75%{
            transform: rotateX(-1deg) scale(0.4, 0.4);
       }
       100%{
            transform: rotateX(-0.5deg) scale(0.4, 0.4);
       }
    }

}
@media only screen and (min-width: 701px) and (max-width: 800px) {
    @keyframes ror{
        0%{
            transform: rotateX(-0.5deg) scale(0.4, 0.4);
        }
        25%{
            transform: rotateX(-1deg) scale(0.4, 0.4);
       }
       50%{
            transform: rotateX(-1.5deg) scale(0.4, 0.4);
       }
       75%{
            transform: rotateX(-1deg) scale(0.4, 0.4);
       }
       100%{
            transform: rotateX(-0.5deg) scale(0.4, 0.4);
       }
    }
}
@media only screen and (min-width: 801px) and (max-width: 900px) {
    @keyframes ror{
        0%{
            transform: rotateX(-0.5deg) scale(0.45, 0.45);
        }
        25%{
            transform: rotateX(-1deg) scale(0.45, 0.45);
       }
       50%{
            transform: rotateX(-1.5deg) scale(0.45, 0.45);
       }
       75%{
            transform: rotateX(-1deg) scale(0.45, 0.45);
       }
       100%{
            transform: rotateX(-0.5deg) scale(0.45, 0.45);
       }
    }
}
@media only screen and (min-width: 901px) and (max-width: 1000px) {
    @keyframes ror{
        0%{
            transform: rotateX(-0.5deg) scale(0.5, 0.5);
        }
        25%{
            transform: rotateX(-1deg) scale(0.5, 0.5);
       }
       50%{
            transform: rotateX(-1.5deg) scale(0.5, 0.5);
       }
       75%{
            transform: rotateX(-1deg) scale(0.5, 0.5);
       }
       100%{
            transform: rotateX(-0.5deg) scale(0.5, 0.5);
       }
    }
}
