*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background: linear-gradient(90deg, rgb(15, 15, 15), darkblue, black, darkblue, rgb(15, 15, 15));
    color:cornsilk;
} */
.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 60%;
    height: 30px;
    font-size: larger;
}
.logLabel{
    margin-top: 0.5%;
}
.logframe{
    margin-top: 15%;
}
button{
    display: flexbox;
    background: rgb(71, 168, 212, 0.466);
    color: cornsilk;
    width: 60%;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    border: 1px solid rgba(71, 167, 212, 0.466);
    border-radius: 15px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 1.5%;
}
button:hover{
    background-color: rgba(252, 251, 250, 0.109);
    border: 1px solid cornsilk;
}