/* HeaderArea */

.mainHeader{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 20px;
}
.mainLogo{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.loginBox{
    padding-right: 14%;
    width: 70%;
}
.mainTitel{
    position: absolute;
    left: 40%;
}

/* InputTypes */
input[type="text"]{
    background-color: rgba(0, 0, 139, 0.315);
}
input[type="password"]{
    background-color: rgba(0, 0, 139, 0.315);
}
input[type="email"]{
    background-color: rgba(0, 0, 139, 0.315);
}
input[type="date"]{
    background-color: rgba(0, 0, 139, 0.315);
}

/* Navigation */
.navigation{
    color:cornsilk;
}
.navFont{
    color: cornsilk;
}

/* mainPageBody */
.mainPageBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    height: auto;
}
/* Carousel */
.mainCarousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    width: 100%;
}
.backgroundBoxCarouselCards{
    display: flex;
    justify-content: center;
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    background-image: url('../../images/deadpool2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* TopTenCards */
.mainCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-bottom: 1%;
}

.cardImg{
    border: 1px solid rgba(0, 248, 248, 0.555);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 3px rgb(0, 248, 248);
}
.mainCard{
    display: inline-flex;
    flex-wrap: wrap;
    width: 55%;
    margin-top: 2%;
}
.mainCard a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1% 3%;
    background-color: rgba(58, 49, 49, 0.863);
    color: cornsilk;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border: 1px solid white;
    border-radius: 15px;
}

/* Buttons */
.btn{
    display: flexbox;
    background: rgb(71, 168, 212, 0.466);
    color: cornsilk;
    width: 60%;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    border: 1px solid rgba(71, 167, 212, 0.466);
    border-radius: 15px;
    font-weight: bold;
    line-height: 20px;
}
.btn:hover{
    background-color: rgba(252, 251, 250, 0.109);
    border: 1px solid cornsilk;
}

/* Footer */
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-left: 5%;
    background-color: rgba(0, 0, 139, 0.404);
    border-top: 2px solid white;
}
.dropDownButton{
    padding-left: 8%;
}
.pFooter{
    padding-left: 5%;
}
.footerLogo{
    position: absolute;
    left: 48%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

/* Chat */
.chatTopBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/popcorn.jpg');
    background-size: contain;
    background-repeat:repeat-x;
    width: 100%;
    height: 150px;
    color: #f5f5f5;
    border-bottom: 5px solid white;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

.chatTitle{
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-shadow: black 14px 12px 14px, white 5px 15px 5px;
}

.chatBackground{
    background-image: url('../../images/cinemaChat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.chatBox{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 100%;
}

.chatMessages{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    width: 55%;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.952);
    border: 3px solid rgba(255, 255, 255, 0.719);
    border-radius: 15px;
    box-shadow: -1px -1px 10px 5px #0ff;
    margin-top: 5px;
    color: white;
    word-break: break-all;
    word-wrap: break-word;
    text-justify: auto;
    overflow: auto;
}
.inputChat{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 40px;
    background: linear-gradient(90deg, rgb(0, 0, 0),rgb(8, 8, 12),rgba(34, 33, 33, 0.938),rgb(8, 8, 12), rgb(0, 0, 0));
    border-top: 1px solid white;
}

.inputChatInput{
    height: 100px;
    width: 55%;
    text-align: start;
    word-break: break-all;
    resize: none;
    overflow: auto;
    box-sizing:border-box;
    border: 5px solid black;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
    font-size: 1em;
}
.inputChatInput::placeholder{
    color: rgba(255, 255, 255, 0.349);
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}
.chatButton{
    width: 55%;
}

/* About */
.chatRules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    font-size: 1.3em;
}
.chatDirections{
    font-weight: bold;
    text-decoration: underline;
    font-size: 2em;

    animation-name: animation_blink;
    animation-timing-function: ease-in;
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;   
}

@keyframes animation_blink {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }    
}
@keyframes animation_blink {
    0% { color: white; }
    25% { color: #0ff; }
    50% { color: black; }
    75% { color: #0ff; }
    100% { color: white; }    
}

/* Tauschbörse */
.forum{
    width: 98%;
    height: 100vh; 
}

.restricted{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../images/restricted.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-color: black;
    border: 3px solid red;
    border-radius: 25px;
}
.restricted h1{
    color: black;
    font-size: 4em;
    font-weight: 500px;
    border: 8px solid red;
    padding: 10px;
    border-radius: 25px;
    background: rgba(128, 128, 128, 0.521);
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    .mainCard{
        display: inline-flex;
        flex-wrap: wrap;
        width: 90%;
        margin-top: -100px;
    }
    .mainHeader{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .loginBox{
        position: relative;
        left: 85px;
        padding-right: 0%;
        width: 40%;
    }
    .mainTitel{
        position: relative;
        left: 0%;
    }
    .footer{
        width: 100%;
        overflow: hidden;
        display: inline-flex;
        padding-right: 0%;
        padding-left: 0%;
    }
    .dropDownButton{
        padding-left: 0%;
    }
    .dropDownGroup{
        display: flex;
        position: relative;
        left: 30%;
        right: 15%;
        flex-direction: column;
        width: 100%;
    }
    .pFooter{
        display: none;
    }
    .footerLogo{
        display: none;
    }
}

@media only screen and (min-width: 401px) and (max-width: 500px) {
    .mainCard{
        display: inline-flex;
        flex-wrap: wrap;
        width: 90%;
        margin-top: -100px;
    }
    .mainHeader{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .loginBox{
        position: relative;
        left: 85px;
        padding-right: 0%;
        width: 40%;
    }
    .mainTitel{
        position: relative;
        left: 0%;
    }
    .footer{
        width: 100%;
        overflow: hidden;
        display: inline-flex;
        padding-right: 0%;
        padding-left: 0%;
    }
    .dropDownButton{
        padding-left: 0%;
    }
    .dropDownGroup{
        display: flex;
        position: relative;
        left: 55%;
        right: 15%;
        flex-direction: column;
        width: 100%;
    }
    .pFooter{
        display: none;
    }
    .footerLogo{
        display: none;
    }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
    .mainCard{
        display: inline-flex;
        flex-wrap: wrap;
        width: 90%;
        margin-top: -100px;
    }
    .mainHeader{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .loginBox{
        position: relative;
        left: 85px;
        padding-right: 0%;
        width: 40%;
    }
    .mainTitel{
        position: relative;
        left: 0%;
    }
    .footer{
        width: 100%;
        overflow: hidden;
        display: inline-flex;
        padding-right: 0%;
        padding-left: 0%;
    }
    .dropDownButton{
        padding-left: 0%;
    }
    .dropDownGroup{
        display: flex;
        position: relative;
        left: 80%;
        flex-direction: column;
        width: 100%;
    }
    .pFooter{
        display: none;
    }
    .footerLogo{
        display: none;
    }
}
@media only screen and (min-width: 601px) and (max-width: 700px) {
    .mainCard{
        display: inline-flex;
        flex-wrap: wrap;
        width: 90%;
        margin-top: -100px;
    }
    .mainHeader{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .loginBox{
        position: relative;
        left: 85px;
        padding-right: 0%;
        width: 40%;
    }
    .mainTitel{
        position: relative;
        left: 0%;
    }
    .footer{
        width: 100%;
        overflow: hidden;
        display: inline-flex;
        padding-right: 0%;
        padding-left: 0%;
    }
    .dropDownButton{
        padding-left: 0%;
    }
    .dropDownGroup{
        display: flex;
        position: relative;
        left: 30%;
        flex-direction: row;
        width: 100%;
    }
    .pFooter{
        display: none;
    }
    .footerLogo{
        display: none;
    }
}
@media only screen and (min-width: 701px) and (max-width: 800px) {
    .mainCard{
        display: inline-flex;
        flex-wrap: wrap;
        width: 90%;
        margin-top: -100px;
    }
    .mainHeader{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .loginBox{
        position: relative;
        left: 85px;
        padding-right: 0%;
        width: 40%;
    }
    .mainTitel{
        position: relative;
        left: 0%;
    }
    .footer{
        width: 100%;
        overflow: hidden;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0%;
        padding-left: 0%;
        padding-bottom: 4%;
    }
    .dropDownButton{
        padding-left: 0%;
    }
    .dropDownGroup{
        display: flex;
        position: relative;
        left: 2%;
        flex-direction: row;
        width: 100%;
    }
    .pFooter{
        display: flex;
    }
    .footerLogo{
        display: none;
    }
}
@media only screen and (min-width: 801px) and (max-width: 900px) {
    .mainCard{
        display: inline-flex;
        flex-wrap: wrap;
        width: 70%;
        margin-top: -100px;
    }
    .mainHeader{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .loginBox{
        position: relative;
        left: 85px;
        padding-right: 0%;
        width: 40%;
    }
    .mainTitel{
        position: relative;
        left: 0%;
    }
    .footer{
        width: 100%;
        overflow: hidden;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1%;
        padding-left: 1%;
        padding-bottom: 4%;
    }
    .dropDownButton{
        padding-left: 0%;
    }
    .dropDownGroup{
        display: flex;
        position: relative;
        left: 0%;
        flex-direction: row;
        width: 100%;
    }
    .pFooter{
        display: flex;
        position: relative;
        left: -3%;
    }
    .footerLogo{
        display: block;
        position: relative;
        left: -40%;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1000px) {
    .mainCard{
        display: inline-flex;
        flex-wrap: wrap;
        width: 70%;
        margin-top: -100px;
    }
    .mainHeader{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .loginBox{
        position: relative;
        left: 85px;
        padding-right: 0%;
        width: 40%;
    }
    .mainTitel{
        position: relative;
        left: 10%;
    }
    .footer{
        width: 100%;
        overflow: hidden;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1%;
        padding-left: 1%;
        padding-bottom: 4%;
    }
    .dropDownButton{
        padding-left: 0%;
    }
    .dropDownGroup{
        display: flex;
        position: relative;
        left: 0%;
        flex-direction: row;
        width: 100%;
    }
    .pFooter{
        display: flex;
        position: relative;
        left: -3%;
    }
    .footerLogo{
        display: block;
        position: relative;
        left: -40%;
    }
}
@media only screen and (min-width: 1001px) and (max-width: 1100px) {
    .mainCard{
        display: inline-flex;
        flex-wrap: wrap;
        width: 70%;
        margin-top: 0px;
    }
    .mainHeader{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .loginBox{
        position: relative;
        left: 85px;
        padding-right: 0%;
        width: 40%;
    }
    .mainTitel{
        position: relative;
        left: 10%;
    }
    .dropDownButton{
        position: relative;
        right: -50px;
        padding-left: 2%;
    }
    .footerLogo{
        display: block;
        position: relative;
        left: 7%;
    }
}