*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frame{
    margin-top: 0%;
    background-image: url('../../images/silver.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 50px;
    padding-bottom: 5%;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.regContainer, .birthday{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 60%;
    height: 36px;
    font-size: larger;
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
}
.error{
    color: red;
    font-size: larger;
    font-weight: bold;
    animation-name: animation_blinkError;
    animation-timing-function: ease-in;
    animation-duration: 1.5s; 
    animation-iteration-count: infinite; 
}
@keyframes animation_blinkError{
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }    
}
@keyframes animation_blinkError {
    0% { color: white; }
    25% { color: rgb(255, 0, 0); }
    50% { color: black; }
    75% { color: rgb(255, 0, 0); }
    100% { color: white; }    
}
.regLabel{
    margin-top: 0.5%;
}
button{
    display: flexbox;
    background: rgba(71, 167, 212, 0.822);
    color: cornsilk;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    width: 60%;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    border: 1px solid rgba(71, 167, 212, 0.466);
    border-radius: 15px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 3%;
}
button:hover{
    background-color: rgba(255, 248, 220, 0.76);
    color: black;
}