*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frame{
    margin-top: 0%;
    background-image: url('../../images/silver.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 50px;
    padding-bottom: 5%;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.regContainer, .birthday{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    background-color: black;
    width: 60%;
    height: 30px;
    font-size: larger;
}
.regLabel{
    margin-top: 0.5%;
}
button{
    display: flexbox;
    background: rgba(71, 167, 212, 0.822);
    color: cornsilk;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    width: 60%;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    border: 1px solid rgba(71, 167, 212, 0.466);
    border-radius: 15px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 3%;
}
button:hover{
    background-color: rgba(255, 248, 220, 0.76);
    color: black;
}