*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  /* background: linear-gradient(90deg, black, rgb(24, 23, 23), darkgrey, grey, lightgrey, grey, darkgrey,rgb(24, 23, 23),black); */
  background: linear-gradient(90deg, rgb(15, 15, 15),darkblue,black,darkblue, rgb(15, 15, 15));
  color: cornsilk;
}

.App {
  text-align: center;
}
.inactive{
  display: none;
}
.logoutBtn{
  width: 100%;
  border: 2px solid white;
}